<% content_for :title do%>
  <%= @entry.meal_type %> &ndash; <%= Time.now.strftime("%B %e, %Y") %>
<% end %>
<div class="columns mt-6 is-centered">
  <div class='card'>
    <%= render @entry %>
    <div class="card-footer">
      <%= link_to "Back", entries_path, class: "card-footer-item" %>
      <%= link_to "Edit",edit_entry_path(@entry), class: "card-footer-item" %>
      <%= link_to "Delete", entry_path(@entry), method: :delete, data: {confirm: "Are you sure?"}, class: "card-footer-item" %>
    </div>
  </div>
</div>
